.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  max-width: 100%; /* Ensure it doesn't exceed viewport width */
  max-height: 80%;
  margin: 0; /* Center the grid */
  flex: 3;
  border: solid 3px white;
  border-radius: 3px;
}