.tile {
    border: 1px solid #ccc; /* Optional border for tiles */
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
  
.tile img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure image covers the entire tile */
    object-fit: fill; /* Stretches image to fill box (Best option so far) */
}

#opaque-tile {
    opacity: 0;
}